.jeu_photo{
    height: 300px;
    width: 20%;
    border: solid 1px black;
    position: relative;
    display: inline-flex;
}
.principale{
    height: 2000px;
    width: 100%;
    position: absolute;
}

