body{
    position: relative;
    min-height: 580px;
}

.contenu{
    padding-left: 10px;
}

.no-link-style{
    text-decoration: none;
}
.no-link-style:hover{
    text-decoration: none;
}

footer{
    position:absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}



